<h1>
    Consultas:
</h1>
<hr>

<form method="" action="/searchresult">
    <input type="search" name="search" id="search" placeholder="Digite o email ou CPF do paciente">
    <button>Pesquisar</button>
</form>
<hr>
<% list.forEach(appo => { %> 
    <h3>Nome: <%= appo.name %></h4>
    <h4>Descrição: <%= appo.description %></h4>
    <h4>CPF: <%= appo.cpf %></h4>
    <h4>Email: <%= appo.email %></h4>
    <h4>Notificado: <% if(appo.notified) { %>
                            Sim
                   <% } else{ %>
                            Não
                    <% } %>
    
    </h4>
    <hr>
<% }); %>